.logo{
    height: 50px;
    width: 80px;
}
.line::after{
    content: '';
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: 82%; /* Adjust this value to control the position of the line */
    border-left: 1px solid rgb(255, 255, 255)
}
nav ul{
    display:flex;
    list-style:none;
    justify-content:center;
    align-items:center;
    margin-bottom: 2px;
    
}
nav ul li{
    cursor: pointer;
    margin-right:15px;
    transition: .2s;
}
nav ul li:hover{
    color: red;
}
.courseB{
    margin-right:5px;
    margin-bottom:5px;
    padding:20px;
    color: white;
}
.pop{
    position: relative;
    z-index: 1000;
    margin-top: 4.4rem;
    background-color: rgba(0, 0, 0, 0.525);
    width: 100%;
    height: 100vh;
    transition: 3s linear;
    transform: scale(1);
}
.up.active{
    transform: scale(1);
}
.up{
   position: absolute;
   top: -5px;
   right: 30%;
   left: 5rem;
    background-color: white;
    z-index: 1000;
    height: 80%;
  
   
}
.up .p{
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 1rem;
    height: 2.5rem;
    background-color: #121481;
    font-size: 1.5rem;
    color: #fff;
    cursor: pointer;
}
.courses{
    position: relative;
}
.courseList{
    position: absolute;
    left: 10px;
    height: 300px;
    overflow: scroll;
    overflow-x: hidden;
    overscroll-behavior: contain;
    cursor: pointer;
}
.courseList::-webkit-scrollbar{
    background: red;
    width: 10px;
}
.particularcourse{

    position: absolute;
    width: 50%;
    height: 300px;
    left: 40%;
    overflow: scroll;
    overflow-x: hidden;
    
}
.particularcourse .coursename{
    margin-top: 4rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10px;
}
.particularcourse::-webkit-scrollbar{
    display: none;
}
#search:focus{
    padding: 10px;
}
@media (max-width:1050px){
    .nav{
        margin: 0;
        font-size: 70%;
    }
    .particularcourse{

        position: absolute;
        width: 50%;
        height: 300px;
        left: 50%;
        overflow-y: scroll;
        
    }
    .up{
        position: absolute;
        top: -5px;
        right: 30%;
        left: 5rem;
         background-color: white;
         z-index: 1000;
         height: 50%;
       
        
     }
     .particularcourse .coursename{
        margin-top: 0;
        display: block;
        
    }

}
@media (max-width:650px){
    .courseB{
        margin-left:7rem ;
        margin-top: .5rem;
    }
    .up{
        position: absolute;
        top: 5rem;
        right: 1rem;
        left: 1rem;
        height: 100%;
    }
    .particularcourse{
        position: relative;
        width: auto;
        height: 300px;
        left: 60%;
        top: 10px;
        overflow-y: scroll;
    }
    .particularcourse .coursename{
        margin-top: 0;
        display: block;
        
    }
}