.header{
    position: fixed !important;
    top: 0;
    width: 100%;
    z-index: 3;
    height: 95px;
    /* display: flex;
    align-items: center;
    justify-content: center; */
 }
 .logo{
    height: 75px;
 }
.line::after{
    content: '';
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: 82%; /* Adjust this value to control the position of the line */
    border-left: 1px solid rgb(255, 255, 255)
}
nav ul{
    display:flex;
    list-style:none;
    justify-content:center;
    align-items:center;
    margin-bottom: 2px;
  
}
nav ul li{
    cursor: pointer;
    margin-right:15px;
    transition: .2s;
}
nav ul li:hover{
    color: red;
}
.offcanvas-custom {
  background-color: #f8f9fa;
  color: #0167ce;
}
.offcanva-link{
   font-size: 16px !important;
   color: black !important;
   transition: .5s all !important;
   font-weight: 500 !important;
}
.offcanva-link.home{
    display: none;
}
.line1{
    display:none !important;
    background-color: #fff !important;
    height: 2px;
    width: 30px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 20px;
}
.offcanva-link:hover{
    color: red !important;  
}
.offcanva-link:hover .line1{
    display: block !important;
}
#offcanva-link{
    color: black;
    text-decoration: none;
    margin-top: 8px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 16px !important;
    font-weight: 500;
    transition: .5s all !important;

}
#offcanva-link:hover{
    color: red;
}
#offcanva-link:hover .line1{
    display: block !important;
}

.courseB{
    margin-right:5px !important;
    margin-bottom:5px !important;
    padding:13px !important;
    color: white !important;
    border: 2px solid #fff !important;
    display: flex !important;
    justify-content: space-around !important;
    align-items: center !important;
    border-radius:13px ;
    width: 139.82px;
    height: 50px;
    transition: 2s all;
}
.courseC{
    border: 2px solid   #121481 !important;
    margin-right:5px !important;
    margin-bottom:5px !important;
    padding:13px !important;
    color: white !important;
    display: flex !important;
    justify-content: space-around !important;
    align-items: center !important;
    border-radius:13px ;
    width: 139.82px;
    height: 50px;
    transition: 2s all;
}
.courseC:hover{
    background-color: #121481;
}.courseC:hover p{
    /* background-color: #fff; */
    color: rgb(255, 255, 255);
}
.courseB:hover p{
    /* background-color: #fff; */
    color: black;
}.courseB:hover{
    background-color: #fff;
}
.courseB p{
    margin: 0;
    font-weight: bold;
}
.courseC p{
    margin: 0;
    font-weight: bold;
    color: #121481;
}
.courses-menu-head{
    display: flex;
    justify-content: space-around;
}
.courses-menu-head div>h1{
    font-weight: 700;
    size: 40px;
}
.modal-content{
    height: 35.5rem !important;
    width: 57.8rem !important;
    position: relative;
    padding: 40px;
    left:50%;
    transform: translate(-50%,10%);
    background-color: rgba(255, 255, 255, .7) !important;
    backdrop-filter: blur(2px);

}
.course-menu-heading{
    flex:2;
    display:flex;
    justify-content:space-between;
    align-items: center
}
.search-nav{
    justify-content: flex-start ;
    flex-grow: 1;
    padding-right: 1rem ;
}
.search{
    margin:0 5px;
    background-color: #fff;
    height: 50px;
    width: 250px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    justify-content: space-around;
    color: gray;
    opacity: .8;
    padding: 0 10px  ;
}
.gray-border{
    margin:0 5px;
    background-color: #fff;
    height: 50px;
    width: 250px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    justify-content: space-around;
    color: gray;
    opacity: .8;
    padding: 0 10px  ;
    border: 1px solid gray;
}
.search>input[type="search"]{
    border: none;
    width: 150px;
}
.gray-border>input[type="search"]{
    border: none;
    width: 150px;
}
input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
}

/* For Mozilla Firefox */
input[type="search"] {
    -moz-appearance: textfield;
}
.search>button{
    all: unset;
    opacity: .8;
}
.gray-border>button{
    all: unset;
    opacity: .8;
}

.courses{
   display: flex;
   margin: .5rem;
   gap: 10px;
}
.courseList{
    flex: 1;
    height: 24rem;
    overflow: scroll;
    overflow-x: hidden;
    
}
.courseList::-webkit-scrollbar{
    display: none;
}
.courseList>.p{
    background-color: #121481;
    padding: 5px 10px 5px 10px;
    color: #fff;
    margin:2px 5px 0 0;
    border-radius: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    
}
.courseList>.p p{
    margin: 0;
}
.courseList>.p:hover{
    background-color: #1214813c;
    color: black;
    cursor: pointer;
}
/* .courseList::-webkit-scrollbar{
    background: red;
    width: 10px;
} */
.particularcourse{
    flex: 2;
    background-color: #1214813c;
    margin: .5rem;
    /* opacity: .2; */

    overflow: scroll;
    padding:0 20px;
    border-radius: 10px;

    
}
.particularcourse .coursename{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 10px;
    height: 50px;
    text-align: center;
   
}
.coursename .coursename-name{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}
.coursename-name img{
    height: 50px;
    width: 50px;
}
.coursename-name p{
    font-weight: 600;
    padding: 5px 0 5px 0;
}
.particularcourse::-webkit-scrollbar{
    display: none;
}
.menu-btn{
    all:unset;
    display: none;
}
.menu-button{
    background-color: #ffffff;
    height: 5px;
    width: 50px;
    border: none;
    margin: 10px;
    border-radius: 10px;
}
#search{
    padding: 7px;
    margin-left:10px;
    margin-top: 3px;
}
#search:focus{
    padding: 10px;
    border-radius: 10px;
}

@media (max-width:1050px){
    .logo{
        height: 50px;
        width: 80px;
    }
    .nav{
        margin: 0;
        font-size: 70%;
    }
    .particularcourse{

        position: absolute;
        width: 50%;
        height: 300px;
        left: 50%;
        overflow-y: scroll;
        
    }
    .up{
        position: absolute;
        top: -5px;
        right: 30%;
        left: 5rem;
         background-color: white;
         z-index: 1000;
         height: 50%;
       
        
     }
     .particularcourse .coursename{
        margin-top: 0;
        display: block;
        
    }

}
@media (max-width:450px){
    .logo{
        height: 50px;
        width: 80px;
    }
    .courseB{
        /* margin-left:7rem ;
        margin-top: .5rem; */
        /* display: none; */
        visibility: hidden;
    }
    .up{
        position: absolute;
        top: 5rem;
        right: 1rem;
        left: 1rem;
        height: 100%;
    }
    .particularcourse{
        position: relative;
        width: auto;
        height: 300px;
        left: 60%;
        top: 10px;
        overflow-y: scroll;
    }
    .particularcourse .coursename{
        margin-top: 0;
        display: block;
        
    }
    .btn-close{
        font-size: 30px;
        color: rgb(255, 255, 255) !important;
        opacity: 1 !important;
    }
    .offcanva-link.home{
        display:block;
        color: #fff !important;
    }
    .offcanva-link.home:hover{
        color: red  !important;
    }
    .offcanva-link{
        color: #fff !important;
    }
    #offcanva-link{
        color: #fff !important;
    }
    #offcanva-link:hover{
        color: red  !important;
    }
    .offcanvas-custom{
        padding: 30px 10px 30px 10px;
        background-color: #121481 !important;
        color: #fff !important;
        
    }
    .offcanvas-body-custom{
        display: flex;
        text-align: center;
        flex-direction: column;
        align-items: center;
        
    }
    .search-nav{
        justify-content: center;
        flex-grow: 0;
        
    }
    .search{
        width: 350px;
        height: 50px;
        box-shadow: 0px 4px 4px 0 #00000040;
    }
    .menu-btn{
        display: block;
    }
    
}