.toggle{
    background-color: #fff;
    margin: 10px;
    padding: 10px;
    font-weight: 700;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px rgba(124, 122, 122, 0.29);
}
.toogleH{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.banner{
    text-decoration: none;
    margin: 0;
    background-image:linear-gradient(to right,rgb(0, 0, 71),rgb(22, 22, 102),rgb(93, 93, 179));
    width: 100%;
    max-height: 300px;
    min-height: 300px;
    color: #fff;
    box-shadow: 5px 5px 5px rgb(93, 93, 179);
    display: flex;
    align-items: center;

 }
 #row{
    background-color: #fff;
    color: black;
    padding: 10px;
    border-radius:10px ;
    box-shadow: 2px 2px 1px rgb(225, 224, 224);
 }


 .intro_banner{
    background: linear-gradient(90deg, rgba(37,93,169,1) 0%, rgba(19,145,193,1) 85%);
    color: #fff;
 }
.banner_p{
    width:150px;
    margin:0 10px 10px 0;
    border-right:1px solid #fff;

}
.button1{
   background-color:rgb(189, 28, 28);
   padding:10px;
   width:200px;
   border:2px solid rgb(189, 28, 28);
   margin:10px 10px 10px 10px;
   color:rgb(255, 255, 255);
}
 .button2{
    background-color:transparent;
    padding:10px;
    width:200px;
    border:2px solid rgb(189, 28, 28);
    margin:10px 10px 0 0;
    color:rgb(189, 28, 28);
    margin:10px 10px 10px 10px;

 }
 .button2:hover{
    background-color: rgb(189, 28, 28);
    color: #fff;
 }
 .banner-image{
   display: flex;
   flex-direction: column;
   align-items: center;
 }
 .Speciality span{
    border: 1px solid #fff;
    padding: 10px;
 }
 .Speciality_box{
   display:flex;
   align-items:baseline;
   justify-content:space-around;
 }
 table{
    margin: 10px;
    color: black;
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    border: 1.5px solid #dddddd;
 }
 th {
    text-align: center;
    border-bottom:  1px solid #dddddd;
    padding: 11px 0;
    font-weight: 600;
    font-size: 15px;
  }
  th span{
    display: flex;
    align-items: center;
    justify-content: center;
    border-right:1px solid  #dddddd;
  }
  td {
    text-align: center;
    border-bottom:  1px solid #dddddd;
    padding: 11px 0;
  }
  td span{
    display: flex;
    align-items: center;
    justify-content: center;
    border-right:1px solid   #dddddd;
  }

  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  .Batch_Request{
   text-align: center;
  }
  .Batch_Request .span{
   font-size: 2rem;
   font-weight: 700;
   border-bottom:5px solid red;
  }
  .faq .span{
   font-weight: 700;
   border-bottom:4px solid red;
   margin-right: 50%;
   margin-left: 40%;
   text-align: center;
  }
   .input-wrapper {
      position: relative;
      display: flex;
      align-items: center;
  }
  
  .input-wrapper input {
      width: 100%;
      padding-right: 40px; /* Make space for the icon */
  }
  
  .form-icon {
      position: absolute;
      right: 10px;
      background-color: blue;
      height: 24px; /* Adjust height as needed */
      width: 24px; /* Adjust width as needed */
      color: #fff;
      border-radius: 50%; /* Adjust border-radius as needed */
      display: flex;
      justify-content: center;
      align-items: center;
  }
  
  /* Add some padding to inputs for better spacing */
  input[type="text"],
  input[type="email"] {
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
  }
  
  button[type="submit"] {
      width: 100%;
      padding: 10px;
      background-color: #007bff;
      color: white;
      border: none;
      border-radius: 4px;
      cursor: pointer;
  }
  
  button[type="submit"]:hover {
      background-color: #0056b3;
  }
  .cp{
   text-align: center;
  }
  .cp>span{
   font-size:2rem;
   font-weight: 700;
   border-bottom: 5px solid red;
  }
  .cp div>h4{
   border-bottom: 5px solid red;
   margin: 0 85% 0 0;
  }
  input:focus{
   all:unset;
  }
  #textarea:focus{
   all:unset;
  }
  #cForm{
   background-color:#fff;
   padding:10px;
   border-radius:10px;
   width:20rem;
   box-shadow:0px 0px 2px 2px gray;
  }
  li{
   list-style-type: disc;
   margin: 10px;
  }
  .training-features{
   text-align: center;
  }
  .training-features>span{
   font-size:2rem;
   font-weight: 700;
   border-bottom: 5px solid red;
  }
  .training-certificate_banner{
   width: 100%;
   height: 80vh;
   background: rgb(9,24,121);
   background: linear-gradient(186deg, rgba(9,24,121,1) 35%, rgba(16,0,255,0.7457107843137255) 100%);
color: white;
  }
  .java-reviews{
   text-align: center;
  }
  .java-reviews span{
   font-size:2rem;
   font-weight: 700;
   border-bottom: 5px solid red;
  }
  /* ReviewCard.css */
  .review_c{
   width: 300px;
   background-color: #fff;
   margin: 10px;
   padding: 10px;
   border: 1px solid gray;
   border-radius: 10px;
   transition: .9s all;

  }
  .review_c:hover{
   border: #007bff 1px solid;
   transform: scale(.9);
   box-shadow: 0 0 4px 2px #007bff;
  }
  
 

@media (max-width:950px){
   .intro_banner{
      height: 50vh !important;
   }
   #hide{
      display: none;
   }
   .Speciality_box{
      display: flex;
      gap: 30px;
   }
}
@media (max-width:650px){
   #hide{
      display: none;
   }
   .banner_row{
      display: flex;
   }
   #banner_p{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
   }
   .banner_p{
      display: flex;
      border: 2px solid white;
      margin: 0;
      width: 150px;
      height: 100px;
      justify-content: center;
      align-items: center;
      text-align: center;
   }
   .btns{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }
   .button2{
      width: 300px;
   }
   .button1{
      width: 300px;
   }
   .Speciality_box{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 30px;
   }
   .intro_banner{
      height: 130vh !important;
   }
   table {
      border: none;
      width: 100%;
      margin: 0;
    }
    th, td {

      text-align: left;
      padding: 8px;
    }
    .training-certificate_banner{
      height: 120vh;
    }
    .training-features{
      display: none;
    }

}