.slider {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    margin-top: 6rem;
}

.slider .slide {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    top: 0;
    left: 0;
}

.slider .content {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    color: #fff;
    text-shadow: 0 5px 10px #0004;
    z-index: 2;
}

.slider .content .title,
.slider .content .type {
    font-size: 2em;
    font-weight: bold;
    line-height: 1.3em;
}

.slider .content .type {
    color: #14ff72cb;
}

.slider .button {
    margin-top: 20px;
}

.slider .button button {
    border: none;
    background-color: #eee;
    font-family: Poppins;
    font-weight: 500;
    cursor: pointer;
    transition: 0.4s;
    letter-spacing: 2px;
}

.slider .button button:hover {
    letter-spacing: 3px;
}
