*{
    margin: 0;
    padding: 0;
}
.contact-banner{
    height: 80vh;
    background: linear-gradient(180deg, #121481 70%, #04041B 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    margin-bottom: 3rem;

}
.contact-banner>h2{
    font-size: 64px;
    font-weight: 700;
}

.contact-forms{
    display: flex;
    justify-content: center;
}
.contact-form{
    background-color: #121481;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 600px;
    padding: 80px;
    box-shadow: 2px 0 10px 2px gray;
    border-radius: 10px;
    position: relative;
    z-index: 1;
    
}
.contact-form>h2{
    font-size: 52px;
    font-weight: 700;
    color: #fff;
}
.contact-form>form{
    display: flex;
    flex-direction: column;
}
.contact-form>h2::after{
    content: '';
   display: block;
   position: relative;
   left: 50%;
   transform: translate(-50%);
    height: 5px;
    width: 150px;
    background-color: red;
    border-radius: 10px;
    margin-top: 10px;
    
}
.form-inpt{
    position: relative;
}
label{
    color: #fff;
    font-size: 14px;
}
.form-inpt>label{
    position: absolute;
    left: -2px;
    top: -1px;
    color: #fff;
    transition: 0.3s all ease;
}
.form-inpt>input{
    border-top:none ;
    border-left:none ;
    border-right:none ;
    margin-bottom: 10px;
    background-color: transparent !important;
    width: 100%;
    margin-bottom:20px ;
    color: #fff;
    
}
.form-inpt>input:focus{
    outline: none;
}
.form-inpt > input:focus + label {
    top: -20px;
}
.contact-form>form>select{
    background-color: transparent;
    border-top:none ;
    border-left:none ;
    border-right:none ;
    color: #fff;
    padding: 5px 0;
    margin-bottom: 20px;
}
.contact-form>form>textarea{
    background-color: transparent;
    border-top:none ;
    border-left:none ;
    border-right:none ;
    color: #fff;
    margin-bottom: 10px;
}
.contact-form > form > div> input[type="checkbox"] {
    appearance: none !important; /* Removes default styling of the checkbox */
    width: 16px;
    height: 16px;
    background-color: transparent; /* Transparent background */
    border: 1px solid #ccc; /* Adds a border to visualize the checkbox */
    cursor: pointer;
    border-radius: 2px;
    margin-right: 2px;
}
.contact-form > form >div> input[type="checkbox"]:checked {
    background-color:#fff; /* Set color when checked */
    border-color: #ff0000;
    position: relative;
}
.contact-form > form > div>input[type="checkbox"]:checked::after {
    content: "";
    position: absolute;
    top: 2px;
    left: 4px;
    width: 5px;
    height: 10px;
    border: solid rgb(255, 0, 0);
    border-width: 0 2px 2px 0;
    transform: rotate(45deg); /* Creates the checkmark shape */
}
.form-button{
    margin-top: 2rem;
}
.form-button>button{
    background-color: #ff0000;
    border: none;
    padding: 10px 15px;
    border-radius: 10px;
    color: #fff;
    font-weight: 600;
}

.contact-details{
    background-color: #fff;
    max-width: 500px;
    padding: 50px 30px 30px;
    box-shadow: 14px 4px 20.4px 0px #00000040;
    border-radius: 10px;
    height: 600px;
    margin-top: 2rem;
}
.address{
    margin-top: 1rem;
}
.address>ul>li{
    padding-bottom: 10px;
}
.social{
    display: flex;
    justify-content: end;
}
@media (min-width:1300px) and (max-width:1350px) {
    .contact-banner{
        height: 50vh;
        background-size: contain;
    }
}

@media (min-width:650px) and (max-width:950px){
    .contact-banner{
        height: 40vh;
    }
    .boxx{
        width: 300px;
        position: relative;
        margin:0px auto 50px;
    }
    .contactbox2{
        position: static;
        height: 100%;
        background: none;
    }

}
@media (max-width:650px) and (max-width:450px){
    .contact-forms{
        display: flex;
        flex-wrap: wrap;
    }
    .contact-form{
        padding: 20px;
    }
    .contact-details{
        padding: 20px;
        min-width: 300px;
    }
    .contact-details>.map>iframe{
        width: 100%;
    }

}