
*{
    margin: 0;
    padding: 0;
}.zone-banner {
    text-align: center;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../images/studentbanner.jpg');
    background-size: cover; 
    background-repeat: no-repeat;
    transition: opacity 0.5s ease; 
    color: white; 
    opacity: .9;
}

.zone-banner:hover {
    opacity: 1;
}

.placement-test{
    background-image:linear-gradient(to right,rgb(0, 0, 71),rgb(22, 22, 102),rgb(93, 93, 179));
    color: #fff;
    height: 50vh;
}
#col1{
    display: flex;
    align-items: center;
}
#col2{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
#col2>button{
    margin-top: 10px;
    padding: 5px;
    width: 100px;
    border: none;
    background: transparent;
    color: #fff;
    transition: .5s all;
    outline: 2px solid red;
    border-radius: 3px;
    font-weight: 600;
}
#col2>button:hover{
    transform: scale(.8);
    box-shadow: 1px 1px 6px 10px red;
    outline-offset: 10px;
    outline: 5px solid red;
    background-color: red;
}
.recard {
    margin: 20px 0;
}

.resume-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.resume-card img {
    border-radius: 5px;
    margin-bottom: 10px;
}

.resume-card button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.resume-card button:hover {
    background-color: #0056b3;
}

@media(max-width:600px) and (max-width:450px) {
    .placement-test{
        background-image:linear-gradient(to right,rgb(0, 0, 71),rgb(22, 22, 102),rgb(93, 93, 179));
        color: #fff;
        height: 60vh;
    }
}
@media(min-width:600px) and (max-width:950px) {
    .placement-test{
        background-image:linear-gradient(to right,rgb(0, 0, 71),rgb(22, 22, 102),rgb(93, 93, 179));
        color: #fff;
        height: 30vh;
    }
}
