.contactBanner{
   width: 100%;
   height: 400px;
   background: linear-gradient(90deg, #121481 0%, #4446E4 101.25%);
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(480px, 1fr));
   align-items: center;
   padding: 0 10%;
   column-gap: 40px;
 }
 .contactBannerbox1{
   color: #fff;
   white-space: wrap;
 }
 .contactBanner-line{
   display: none;
 }
 .contactBannerbox2{
   color: #fff;
   display: grid;
   row-gap: 50px;
   justify-content: center;
 }
 .contactBannerbox2 div>a{
   background-color: #fff;
   text-decoration: none;
   color: #575AE8;
   padding: 10px;
   border-radius: 10px;
   font-weight: 600;
 }
.contactBannerbox2 div>a:hover{
   background-color: #25D366;
   color: #fff;
 }

 .whats{
   background:#575AE8;
   color:white;
   border:none;
   border-radius:50%;
   margin-right:10px;

 }
 .contactBannerbox2 div>a:hover  .whats{
   background-color: #25D366;
   color: #fff;
 }
 .contact_banner a{
    text-decoration:none;
    background-color:#fff;
    padding:10px;
    border-radius:10px;
    font-weight: 600;
 }
 .contact_banner a:hover{
    background-color: red;
    color: #fff;
 }
 .contact_banner i{
    margin-right:10px ;
      font-size: 20px;
 }
 .Content_box_containner{
   display: flex;
   align-items: center;
   justify-content: center;
 }
 .Content_box1{
   flex: 2;
 }
 .Content_box2{
   text-align: left;
   flex: 1;
 }

 /*All Courses*/
 .all-course-box1{
  background-color: #121481;
  border-radius: 30px;
  height: 700px;
  width: 300px;
  position: sticky;
  top: 7rem;
  box-shadow: 0 4px 4px 0 #00000040;
 }
 .course-box1-links{
   padding: 36px 50px 36px 50px;
   color: #fff;
   text-align: left;
   
 }
 .course-box1-link{
   margin-top: 20px;

 }
 .link-icon {
  color: red;
  transition: .5s all !important;
  transform: translateX(-50%);
  opacity: 0;

}

.box-link {
  cursor: pointer;
  transition: .5s all;
  transform: translateX(-10%);
}
.box-link:hover{
  transform: translateX(0%);
}
.box-link:hover .link-icon {
  opacity: 1;
  transform: translateX(0);
  color: red;


}
.all-course-box2{
  margin:0 0 20px 20px;
  background-color: #fff;
  padding: 20px;
  height: 240px;
  width: 700px;
  border-radius: 30px;
  box-shadow: 0 4px 4px 0 #00000040;
  display: flex;
}
.all-course-box2:hover{
  background-color: #12148114;
}
.course-box2-img{
  height: 200px;
  width: 150px;
  background-color: #1214811A;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.course-box2-content{
  width: 550px;
  padding: 10px 0 0 10px;
  display: flex;
}
.box2-content-de{
  width: 350px;
}
.box2-content-price{
 display: grid;
 justify-content: center;
 align-items: center;
}
.content-price-btn{
  display: flex;
  flex-direction: column;
}
.buttn1{
  margin: 10px 0;
  border: none;
  background-color: red;
  color: #fff;
  border-radius: 35px;
  padding: 8px 20px 8px 20px;
}
.buttn1:hover{
  background-color: #BE0202;
  color: #CFCFCF;
}
.buttn2{
  padding: 8px 20px 8px 20px;
  color: red;
  border: 2px solid red;
  border-radius: 35px;
  background: transparent;
  text-decoration: none;
}
.buttn2:hover{
  background-color: red;
  color: #fff;
}

 @media (max-width:950px) {
   .contact_banner{
      min-height:280px ;
     }
     .Content_box2{
      display:flex;
      flex-direction: row;
      font-size: 90%;
      align-items: center;
      justify-content: space-around;
   }
   .hide{
      display: none;
   }
   .Content_box2 p{
      margin-top: 10px;
   }
   .Content_box2 div{
      margin-left: 20px;
      margin-right: 10px;
   }
   .contactBannerbox2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 550px;
    height: 200px;
    gap: 20px;
  }

 }

 @media (max-width:650px) {
  .contact_banner{
   min-height:280px ;
  }

   .Content_box2{
      display:flex;
      flex-direction: row;
      font-size: 70%;
      align-items: center;
      
   }
   .Content_box2 p{
      margin-top: 10px;
   }
   .Content_box2 div{
      margin-left: 20px;
      margin-right: 10px;
   }
   .hide{
      display: none;
   }
    
 }
 @media (max-width:450px){
   .contactBanner{
      height: 300px;
   }
   .contactBannerbox1{
      width: 350px;
    }
    .contactBanner-line{
      display: block;
      width: 200px;
      height: 2px;
      background-color: #fff;
      margin-left: 76px;
      margin-top: 20px;
    }
    .contactBannerbox2{
      display: flex;
      justify-content: left;
      width: 350px;
      height: 100px;
      font-size: 90%;
      gap: 20px;
    }
    .contactBannerbox2>p{
      margin-top: 0 !important;
    }
      .Content_box2{
         display:flex;
         flex-direction: row;
         font-size: 70%;
         align-items: center;
         
      }
      .Content_box2 p{
         margin-top: 10px;
      }
      .Content_box2 div{
         margin-left: 20px;
         margin-right: 10px;
      }
      .hide{
         display: none;
      }
      .all-course-box2{
        width: 340px;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
      }
      .course-box2-content{
        width: 300px;
        display: flex;
        flex-direction: column;
      }
      .box2-content-de{
        width:auto;
      }
      .box2-content-de{
        display: block;
      }
      .course-box2-img{
        width: auto;
        height: auto;
        padding: 50px 80px;

      }
      .box2-content-price{
        display: flex;
        justify-content: space-between;
      }
      .bttn1{
        padding: 10px 25px;
      }
      .buttn2{
        padding: 10px 25px;
      }
 }