*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    
}
*::selection{
    background-color: red;
}
body{
    background-color: #a5a8f141;
}
section{
    margin-top: 2rem;
}



@media (min-width:650px){
    .secnav{
        display: none;
        
    }
}
#mybutton{
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 16px;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 10px;
    width: 50px;
    border-radius: 4px;
  }
  
  #mybutton:hover {
    background-color: #555;
  }
  .content_box2{
    font-size: 80%;
  }
@media (max-width:650px) {
    .secnav{
        display: flex;
        justify-content: flex-start;
        color: white;
        margin:0px !important;
        
    }
    .secnav nav ul{
        display: flex;
        flex-direction: column;
        align-items: start;
        padding:0;
        font-size: 16;
    }
    .secnav nav ul li{
        padding:8px 0;
    }
    /* .home{
        margin-top: 4.7rem;
    } */

    

}
@media (max-width:350px){
    html{
        font-size: 50%;
    }
}