
.footer-box{
    background-color:black;

    color:white;
    text-decoration:none;

}
.footer-col{
    margin: 50px 0;
}
ul{
    padding: 0;
}
li{
    list-style: none;
   
}
.footer-form{
    position: relative;
}
.footer-form>input[type='email']{
    padding: 12px 20px;
    background-color: #fff;
    height: 50px;
    border-radius: 10px;
    border: solid red;
}   
.footer-form>input::placeholder{
    color: red;
}
.footer-form>input:focus{
   
/* 
    background-color: #fff;
    width: 400px;
    height: 50px;
    border-radius: 10px;
    color:black;
    padding: 0px 2px; */
    outline: none;

}
.footer-form-btn{
    position: absolute;
    right: 10%;
    top:20%;
    border: none;
    background: none;
}
.footer-row-2{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
.footer-line{
    height: 2px;
    width: 800px;
    background-color: #fff;
}

@media (max-width:450px) {
    .footer-line{
        width: 350px;
    }
}
