
.footer-box{
    background-color:black;

    color:white;
    text-decoration:none;

}
.footer-col{
    margin: 50px 0;
}
ul{
    padding: 0;
}
li{
    list-style: none;
   
}
.footer-form{
    position: relative;
}
.footer-form>input[type='email']{
    padding: 12px 20px;
    background-color: #fff;
    width: 400px;
    height: 50px;
    border-radius: 10px;
    border: solid red;
}   
.footer-form>input::placeholder{
    color: red;
}
.footer-form>input:focus{
   
    all: unset;
    background-color: #fff;
    width: 400px;
    height: 50px;
    border-radius: 10px;
    color:black;
    padding: 0px 2px;

}
.footer-form-btn{
    position: absolute;
    right: 5%;
    top:20%;
    border: none;
    background: none;
}